/*
C:\Users\msp\Desktop\code\MyWebsite>sass --watch css/main.scss:css/main.css
*/
$fontFamily:'Overlock', cursive;
$titleFontSize:22px;
$contentFontSize: 20px;
$contentItemTitleSize:21px;
$contentItemTitleFamily:'Overlock', cursive;

body {
  padding: 25px;
  font-size: 18px;
  color: #101010;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  //-moz-background-size:cover;
  //-ms-background-size:cover;
  //-webkit-background-size:cover;
  //background-size:cover;
  color: black;
}

p {
  //color: black;
}

.divide {
  height: 1px;
  width: 100%;
  background-color: grey;
  margin: 20px 0;
}

.resume {
  height: 1000px;
  overflow: auto;
  background: white;



  .half-section {
    width: 50%;
    float: left;
    padding: 20px;
  }

  .left-section{

  }

  .right-section{
    right:0;
  }
}

.section-container{
  overflow: hidden;
}

.content-text{
  font: $contentFontSize $fontFamily;
  padding: 0 20px;
  border: dashed 1px grey;
}

.conten-item-title{
  font: $contentItemTitleSize $contentItemTitleFamily;
  margin: 20px 0;
}
.conten-item{
  font: $contentItemTitleSize $contentItemTitleFamily;
  margin: 10px 0;
}

.sub-content-item{
  padding: 0 20px;
}

.title {
  padding: 0 20px;
}
.header {
  background-color: #008B8B;
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-item{
  float:left;
  width: 20%;
  height: 60px;
  padding: 1em 0;
  list-style-type: none;

  a{
    color:black;
  }
}

nav{
  padding-left: 110px;
}