<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>模板</title>
    <link rel="stylesheet" href="../thirdParty/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <header>
      Hi, I'm xxx.
    </header>

    <div class=""></div>


  <script src="../thirdParty/jquery-3.1.1.js"></script>
  <script src="../thirdParty/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
