<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>模板</title>
    <link rel="stylesheet" href="../thirdParty/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

  <div class="resume">
    <header>
      Hi, I'm xxx.
    </header>

    <div class="divide"></div>

    <h3>姓名</h3>
    <h3>年龄</h3>
    <h3>学历</h3>
    <h3>住址</h3>
    <h3>邮箱</h3>
    <h3>手机</h3>
    <h3>婚否</h3>
    <div class="divide"></div>
    <h2>教育经历</h2>
    <div class="divide"></div>
    <h2>技能</h2>
    <div class="divide"></div>
    <h2>项目经验</h2>

  </div>


  <script src="../thirdParty/jquery-3.1.1.js"></script>
  <script src="../thirdParty/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
